*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;

}
body{
    background-color: black;
}


.container{
    width: 100%;
}
.slider{
    width: 100%;
    height: 100vh;
   
  
}

.slider__wrapper{
    width: 800px;
    height: 400px;
      margin: 150px auto;
}

.slider__content{
    width: 800px;
    height: 400px;
}



.img{
    width: 800px;
    height: 400px;
    position: absolute;
    display: none;
     
}
.block{
    display: block;
}
.controller{
    position: absolute;
    top: 560px;
    left: 650px;
}



button{
    padding: 15px;
}

.no_active{
    background-color: brown;
}

.btn__active{
    background-color: aqua;
} 











 /*  Slider 2 */

.slider__wrapper-2{
  text-align: center;
  position: relative;
}

 .slider__img{
     width: 800px;
     height: 400px;
     position: absolute;
     left: 400px;
     top: 20px;
     display: none;
     transition: 0.5s;
 }
.block-2{
    display: block;
}

.controller_2{

    transform: translate(30px, 420px);
}
 .ctn__img{
     width: 180px;
     height: 100px;
     margin: 5px;
     opacity: 0.3;
     transition: 0.5s;
 }

 .ctn__img:hover{
     opacity: 1;
 }

 .opacity-1{
     opacity: 1;
 }



 