.resume__page{
    /* width: 70%;
    height: 70%;
    margin: auto;
    background:url('/image/photo_2022-03-17_20-53-06.jpg');
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat; */
    text-align: center;
}